body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

